<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>finalWeb</display-name>
  <welcome-file-list>
    <welcome-file>start</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StartController</display-name>
    <servlet-name>StartController</servlet-name>
    <servlet-class>by.gsu.epamlab.servlets.StartController</servlet-class>
    <init-param>
      <param-name>TaskImplementation</param-name>
      <param-value>TaskDBImpl</param-value>
    </init-param>
    <init-param>
      <param-name>DefaultFilePath</param-name>
      <param-value>d:\\moi progi\\finalWeb\\file\\</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartController</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventsController</display-name>
    <servlet-name>EventsController</servlet-name>
    <servlet-class>by.gsu.epamlab.servlets.EventsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventsController</servlet-name>
    <url-pattern>/filter/event</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorizationController</display-name>
    <servlet-name>AuthorizationController</servlet-name>
    <servlet-class>by.gsu.epamlab.servlets.AuthorizationController</servlet-class>
    <init-param>
      <param-name>UserImplementation</param-name>
      <param-value>UserImplDB</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizationController</servlet-name>
    <url-pattern>/authorization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperationController</display-name>
    <servlet-name>OperationController</servlet-name>
    <servlet-class>by.gsu.epamlab.servlets.OperationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationController</servlet-name>
    <url-pattern>/filter/operation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuController</display-name>
    <servlet-name>MenuController</servlet-name>
    <servlet-class>by.gsu.epamlab.servlets.MenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuController</servlet-name>
    <url-pattern>/filter/menu</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>UserFilter</display-name>
    <filter-name>UserFilter</filter-name>
    <filter-class>by.gsu.epamlab.servlets.UserFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserFilter</filter-name>
    <url-pattern>/filter/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UploadController</display-name>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>by.gsu.epamlab.servlets.UploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/filter/Upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadController</display-name>
    <servlet-name>DownloadController</servlet-name>
    <servlet-class>by.gsu.epamlab.servlets.DownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadController</servlet-name>
    <url-pattern>/filter/Download</url-pattern>
  </servlet-mapping>
</web-app>